<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎大回馈大撒谎大家好 <%= title %></p>
    <h3>haha that`s realy nice! i love it<%= 中文%></h3>
    
  </body>
</html>
